body {
  padding: 1em;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

nav{
  display: flex;
  flex-direction: column;
  gap: 1em;
}



a {
  text-decoration: none;
  list-style: none;
}