<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/stylesheets/style.css">
        <title>Document</title>
    </head>
    <body>
        <main>
            <h1>Tableau de bord</h1>
            <section>
                <h2>nom et adresse de messagerie utilisateur connecté</h2>
                <p>Date du jour</p>
                <table>
                    <thead>
                        <caption>Réservations en cours</caption>
                        <tr>
                            <th>Company</th>
                            <th>Contact</th>
                            <th>Country</th>
                            <th>Country</th>
                            <th>Country</th>
                        </tr>
                    </thead>

                    <tr>
                      <td>Alfreds Futterkiste</td>
                      <td>Maria Anders</td>
                      <td>Germany</td>
                    </tr>
                    <tr>
                      <td>Centro comercial Moctezuma</td>
                      <td>Francisco Chang</td>
                      <td>Mexico</td>
                    </tr>
                  </table>
            </section>

        </main>
    </body>
</html>